# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.o
*.a
*.exe

build-framework-Desktop_Qt_5_5_1_MinGW_32bit-Debug/designer/QEPlugin.dll
applications/epics_libs/cas.dll
applications/epics_libs/dbCore.dll
applications/epics_libs/dbRecStd.dll
applications/epics_libs/gdd.dll
applications/XML/xml_generator/outfile_bar.txt.xml
